
.Tag {
    align-items: center;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: .75rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 1rem;
    margin-left: 6px;
    padding: .125rem .375rem;
    user-select: none;
}