.Absolute {
    background-color: black;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.Wrap {
    align-items: center;
    display: flex;
    height: calc(100vh - 48px);
    justify-content: center;
    pointer-events: none;
    width: 100vw;
    position: fixed;
}
.InnerWrapper {
    display: flex;
    height: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 20%);
    perspective: 100px;
    pointer-events: none;
    position: absolute;
    top: -40px;
    width: max(100vw, 2200px);
}
.InnerWrapper:after {
    background: radial-gradient(80% 250%,#090b0c 10%,transparent 50%);
    content: " ";
    height: 100%;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    z-index: -10;
}
.Column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 200%;
    width: 100%;
    z-index: -50;   
}
.LeftColumn {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
    height: 1088px;
    left: 20px;
    mask-image: linear-gradient(to top, transparent 0%, black 30%);
    max-height: 1088px;
    min-height: 1088px;
    padding: 40px;
    position: relative;
    transform: rotateY(10deg);
    z-index: -10;
}
.RightColumn {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
    height: 1088px;
    mask-image: linear-gradient(to top, transparent 0%, black 30%);
    max-height: 1088px;
    min-height: 1088px;
    padding: 40px;
    position: relative;
    right: 20px;
    transform: rotateY(-10deg);
    z-index: -10;
}
.Workspace {
    display: flex;
    gap: 8px;
    max-height: 240px;
    min-height: 240px;
    width: 100%;
}
.WorkspaceTile {
    border-radius: 12px;
    border: #dd532b 2px solid;
    contain: strict;
    filter: brightness(1);
    flex-grow: 1;
    height: 240px;
    opacity: .3;
    pointer-events: all;
    pointer-events: auto;
    transition: all .7s ease-in-out;
    transition: all 0.8s ease-in-out,scale 0.8s cubic-bezier(0.72,-0.37, 0.17, 1),filter 0.8s cubic-bezier(0.72,-0.37, 0.17, 1);
    &:hover{
        background-color: color-mix(in hsl, #dd532b, transparent 20%);
        box-shadow: 0 0 10px #dd532b, 0 0 40px #dd532b;
        filter: brightness(1.1);
        opacity:1;
        scale: 1.2;
    }
}
.WorkspaceTiles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 246px;
    min-height: 246px;
    width: 100%;
}
.WorkspaceImageTile {
    border-radius: 12px;
    border: #dd532b 2px solid;
    filter: brightness(1);
    flex-grow: 1;
    height: 240px;
    opacity: .3;
    pointer-events: all;
    pointer-events: auto;
    transition: all .7s ease-in-out;
    transition: all 0.8s ease-in-out,scale 0.8s cubic-bezier(0.72,-0.37, 0.17, 1),filter 0.8s cubic-bezier(0.72,-0.37, 0.17, 1);
    &:hover{
        background-color: color-mix(in hsl, #dd532b, transparent 20%);
        box-shadow: 0 0 10px #dd532b, 0 0 40px hwb(13 17% 13%);
        filter: brightness(1.1);
        opacity:1;
        scale: 1.2;
    }
}
.WorkspaceImageTile:hover div.WorkspaceImage {
    opacity: 1;
}
.WorkspaceImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.72,-0.37, 0.17, 1);
    width: 100%;
}
.NTHWGuy {
    position: absolute;
    right: 0;
    transform: rotateY(2deg);
    z-index: -20;
    opacity: 0.1;
}
.TopLight {
    background: url(./grain.webp), radial-gradient(100% 80% at top, rgb(221 83 43 / 50%) 0%, rgb(221 83 43 / 20%), transparent);
    height: 100%;
    left: 0;
    mask-image: radial-gradient(100% 80% at top, white, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), transparent);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}