.Card {
    background: url(../Background/grain.webp), radial-gradient(100% 80% at top, rgb(120 79 67) 0%, rgb(221 83 43 / 20%), #3a1616);
    border: 3px solid #4a4a4aa8;
    padding: 1.5rem;
    margin: 1rem;
    transition-duration: .4s;
    transition-property: box-shadow, filter;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    z-index: 2;
    border-radius: 8px;
    &:hover{
        filter: brightness(1.1) contrast(0.95) saturate(1);
        box-shadow: 3px 8px 8px 3px #00000098;
    }
}
.Title {
    font-weight: 600;
    color: #ffffff;
    font-size:16px;
    margin: 0;
}
.Description {
    color: #adadad;
    font-size:14px;
    margin: 0;
}
.TagsListContainer {
    margin-top:8px;
    display: flex;
    flex-direction: row;
}
.Tag {
    color: #ffffff;
    font-size: 14px;
    margin-left: 6px;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    padding: .125rem .375rem;
    background-color: #000000;
    border-radius: 4px;
}
.Clickable {
    cursor:pointer;
}