.Container {
    background-color: #ccc;
    overflow: hidden;
    position: relative;
}
.Image {
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-out;
    width: 100%;
}
.ImageThumb {
    filter: blur(10px);
    opacity: 1;
    position: absolute;
    transition: opacity 1s ease-out;
}