.Root {
    align-items: flex-end;
    cursor:pointer;
    border-radius: 1.5rem;
    box-shadow: 0px 6px 20px #00000033;
    contain: paint style layout;
    display: flex;
    justify-content: flex-end;
    perspective-origin: 50%;
    perspective: 300px;
    position: relative;
    transform-origin: 50% 50%;
    transform: translate(0px);
    transition-duration: .4s;
    transition-property: color, background-color, border-color,box-shadow, filter;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    z-index: 2;
    &:hover{
        filter: brightness(1.1) contrast(0.95) saturate(1);
        box-shadow: 3px 8px 8px 3px rgba(0, 0, 0, .596);
    }
}
.LogoContainer {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background: #dd532b54;
}
.LogoRelative {
    border-radius: .5rem;
    contain: layout size;
    height: 246px;
    width: 100%;
}
.BottomBar {
    bottom: .25rem;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding-left: .25rem;
    padding-right: .25rem;
    position: absolute;
    transform: translateX(-50%);
    }
    .H2 {
        overflow-wrap: break-word;
        background-color: #ffffff;
        color: #000000;
        line-height: 1.375;
        font-weight: 600;
    font-size: 10px;
    text-align: center;
    padding: .375rem;
    border-width: 1px;
    width: auto;
    box-shadow: 0px 12px 35px #00000066
}